body,input,textarea,::placeholder {
    background-color: grey;
    font-size: 22px;
    color: white;
    font-family: 'Dancing Script', cursive;
    font-family: 'Montserrat', sans-serif;
}

/* Attribute Selector */
[class="main_head"] {
    text-align: center;
    font-size: 43px;
    border: solid;
}

.whyneedtable {
    display: flexbox;
}

table {
    border-color: white;
    max-width: 100%; 

}

a {
    color: whitesmoke;
}

/* Descendent Selector */
.Table table {
    font-style: italic;
}

/* Child Selector */
.letcreate > .excited {
    float: left;
    padding-right: 4rem;
    margin: 1px 10px 4px 10px;
}

/* Adjacent Sibling Selector */
span + address {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}

/* Ajust video padding */
.videocreate {
    border: 2px white solid;
    width: 900px;
    max-width: 100%;
}

/* Apply display elements */
.ques {
    float: left;
    margin-right: 30px;
    margin-top: 5px;
    margin-bottom: 10px;
}

/* Pseudo Class & Transition */
a:hover {
    color: #808080;
    font-size: 26px;
    background-color: white;
    transition: font-size 2s;
    transition-timing-function: ease-out;
}

li:nth-child(odd) {
    text-decoration:underline;
}

/* Pseudo Element */
.para::after {
    content: "  -Somil Sharma";
    font-weight: 900;
    font-style: oblique;
    color: darkkhaki;
}

/* Animations and Keyframe */
@keyframes movel2r {
    0% {
        left: -27%; /* Start off the screen to the left */
    }
    100% {
        left: 110%; /* Move to the middle of the screen */
    }

}


h3 {
    text-align: center;
    width: 25%;
    margin-left: 0px;
    border: solid;
    position: relative;
    animation-name: movel2r;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

/* Media query */
@media (max-width: 700px) {
    body,input,textarea,::placeholder {
        background-color: white;
        color: #888;
    }

    a {
        color: #808080;
    }

    a:hover {
        color: white;
        background-color: #808080;
    }
}

/* CSS position property */
.linkedin {
    height: 50px;
    width: 50px;
    border: 1px solid;
    position: fixed;
    bottom: 50%;
    border-radius: 50%;
}

.gototop {
    height: 50px;
    width: 50px;
    border: 1px solid;
    position: fixed;
    bottom: 10px;
    right: 10px;
    border-radius: 50%;
}

/* flex box */

.flexing {
    display: flex;
    flex-wrap: wrap;
    column-gap: 2rem;
}

.flex {
    border: solid white;
    height: 100px;
    width: 100px;
    background-color: white;
}

/* flex box 1 */
.f1 {
    background-image: radial-gradient(circle, white, grey);
    flex-grow: 2;
    flex-shrink: 2;
}

/* flex box 2 */
.f2 {
    background-image: linear-gradient(to bottom, black, grey);
}

/* flex box 3 */
.f3 {
    background-image: linear-gradient(to bottom right, black, grey);
}

/* flex box 4 */
.f4 {
    background-image: linear-gradient(to bottom left, black, grey);
}




