body {
    background-color: grey;
    font-size: 22px;
    color: white;
    font-family: 'Dancing Script', cursive;
    font-family: 'Montserrat', sans-serif;
}

/* Attribute Selector */
[class="main_head"] {
    text-align: center;
    font-size: 43px;
    border: solid white;
}

.whyneedtable {
    text-align: center;
}

table {
    border-color: white;
}

a {
    color: whitesmoke;
}

/* Descendent Selector */
.Table table {
    font-style: italic;
}

/* Child Selector */
.letcreate > .excited {
    float: inline-start;
    padding-right: 4rem;
}

/* Adjacent Sibling Selector */
span + address {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}

/* Ajust video padding */
.videocreate {
    border: 2px white solid;
    padding: 40px;
    margin: 20px;
    width: 900px;
}

/* Apply display elements */
.ques {
    float: inline-start;
    margin: 30px;
}

/* Pseudo Class */
a:hover {
    color: bisque;
}